* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.navbar {
    width: 100%;
    background: #ff6b6b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: white;
    background: #0d1a26;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    padding: 15px 30px;
}

.navbar ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

.navbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.hero {
    height: 60vh;
    background: url("https://images.unsplash.com/photo-1751517298236-b9150faa3dfd?q=80") center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 8px black;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 8px;
}

.hero p {
    font-size: 18px;
    width: 55%;
    text-align: center;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 320px;
}

.about {
    background: #1e2d3b;
    color: white;
    padding: 40px;
}

.about h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

.about p {
    line-height: 1.5em;
}

.image {
    background: url("https://images.unsplash.com/photo-1751517298236-b9150faa3dfd?q=80") center/cover;
}

.bottom-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 250px;
}

.offer {
    background: #f4cf64;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #122530;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.contact {
    background: #61c4a8;
    padding: 30px;
    color: white;
}

.contact h2 {
    margin-bottom: 8px;
}

.contact ul li {
    margin-bottom: 6px;
}
